<div class="container mx-auto mt-3" style="width: 900px; height: 600px">
  <h4 class="form-group row bg-light" style="width: 180px">管理者ログイン</h4>
   <div>

    <%= form_with model:@admin,url:admin_session_path do |f| %>
      <div class="form-group row">
       <div class="col-3 col-form-label">
       <%= f.label :メールアドレス %>
       </div>
       <div class="col-lg-8">
       <%= f.email_field :email, autofocus: true, autocomplete: "email",size:50 %>
       </div>
      </div>

      <div class="form-group row">
       <div class="col-3 col-form-label">
       <%= f.label :パスワード %>
       </div>
       <div class="col-8">
       <%= f.password_field :password, autocomplete: "current-password",size:50 %>
       </div>
      </div>

      <div class="form-group row">
       <div class="col-6 mx-auto" style="width: 900px">
       <%= f.submit "ログイン",class:"btn btn-primary sign_in" %>
       </div>
      </div>

    <% end %>
    <%= render "admin/shared/links" %>

   </div>
</div>