<div class="container mx-auto" style="width: 800px; height: 600px;">
  <h4 class="form-group row bg-light" style="width: 100px">ログイン</h4>

      <h6 class="form-group row bg-light" style="width: 230px">会員の方はこちらからログイン</h4>
        <%= form_with model:@customer,url:customer_session_path do |f| %>

      <div class="log-in">
        <div class="form-group row">
          <div class="log-in-content">
          メールアドレス
          </div>
          <div class>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",size:40 %>
          </div>
        </div>

        <div class="form-group row">
          <div class="log-in-content">
          パスワード
          </div>
          <div class>
          <%= f.password_field :password, autocomplete: "current-password",size:40 %>
          </div>
        </div>
      </div>

        <div class="form-group row">
          <div class="col-2 mx-auto" style="width: 500px">
          <%= f.submit "ログイン",class:"btn btn-primary sign_in" %>
          </div>
        </div>
      <% end %>

    <h6 class="form-group row bg-light" style="width: 200px">会員登録がお済みでない方</h6>
      <div class="form-group row">
        <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
      </div>
</div>

