<div class="container mx-auto" style="width: 900px; height: 600px;">
  <h4 class="row bg-light" style="width: 100px">商品詳細</h4>

      <div class="row">
        <div class="col-4">
          <div class="row">
          <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "220x170" %>
          <% else %>
          <%= image_tag 'no_image', size: "220x150" %>
          <% end %>
          </div>
        </div>

        <div class="col-6">
          <h4 class="row">
            <%= @item.name %>
          </h4>

          <div class="row my-4">
            <%= @item.introduction %>
          </div>

          <div class="row mb-3">
            ¥<%= @item.with_tax_price %>(税込)
          </div>

          <div class="row">
            <div class="col-4">
            <%= form_with model: @cart_item, url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id  %>
            <%= f.hidden_field :customer_id, :value => current_customer.id  %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit "カートに入れる",class:"btn btn-success" %>
            <% end %>
            </div>
          </div>
      </div>
    </div>
</div>